@model AHP.Web.ViewModel.AccountRecoveryInfoViewModel
@{
    ViewBag.Title = "Active Analytics - Reset your Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="accountrecoverypanel">
    <h3>Account Recovery</h3>    
    @using (Html.BeginForm("ValidateUsername", "AccountRecovery", FormMethod.Post, htmlAttributes: new { autocomplete = "off" }))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        @Html.LabelFor(usrname => usrname.Username, "Enter your username below")
        @Html.TextBoxFor(usrname => usrname.Username,htmlAttributes:new {@class = "loginBox" })
        @Html.ValidationMessageFor(usrname => usrname.Username)
        <input type="submit" value="Submit" class="btn" />
    }
    <div class="notessection">
        <strong>Note:</strong>
        <p>
            If you do not remember your username or are unable to answer the security questions please contact ActiveHealth Management support at (800) 491-3464.
        </p>
    </div>
</div>