@model AHP.Web.ViewModel.PasswordResetViewModel
<div class="half_box">
    @Html.ValidationSummary(true)
    <div>
        <p>
            @Html.PasswordFor(updatePwdInfo => updatePwdInfo.OldPassword, new { @class = "loginBox", placeholder = "Old Password" })
            <div>
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
        </p>
        <p>
            @Html.PasswordFor(updatePwdInfo => updatePwdInfo.NewPassword, new { @class = "loginBox", placeholder = "New Password" })
            <div>
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </p>
        <p>
            @Html.PasswordFor(updatePwdInfo => updatePwdInfo.ConfirmPassword, new { @class = "loginBox", placeholder = "Confirm Password" })
            <div>
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </p>
    </div>
    <div>
        <p>
            <span id="validationSummary" style="display:none;color:red;float:left;">Please provide the required information!</span>
        </p>
        <p>
            <input type="submit" value="Submit" id="passwordResetSubmit" class="btn btn-default" style="width:420px" />
        </p>
    </div>
</div>
<div class="half_box">
    <strong>Password complexity requirements:</strong><br />
    <ul>
        <li>Your password must contain:</li>
        <li>At least 10 character</li>
        <li>At least one uppercase letter</li>
        <li>At least one lowercase letter</li>
        <li>At least one number</li>
    </ul>
</div>
<div class="clear"></div>